
.main-header {
    background-color: #e3ffc9;
    width: 100%;
    height: 130px; 
    display: flex;   /* Usa flexbox per centrare tutto */
    align-items: center;      /* Centra il logo verticalmente */
    justify-content: center;    /* Centra il logo orizzontalmente */
    border-bottom: 2px solid #16302b;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.logo-main {
    max-height: 100px; 
    width: auto;
    display: block;
}

/* SENZA punto perché è il tag <main> che contiene il router-outlet */
main {
    flex: 1;
    display: block;
    width: 100%;
}


.main-footer {
    background-color: #ededed;
    padding: 20px 40px;
    text-align: right;
    font-size: 0.85rem; /* Leggermente più piccolo del testo normale */
    color: #555;
    margin-top: auto;
    border-top: 1px solid #ddd;
}

.footer-info p {
    margin-bottom: 4px;
}