* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Stile globale dell'applicazione */
body {
    background-color: #ffffff;
    color: #1a3c34;            /* Il verde scuro */
    font-family: 'Montserrat', sans-serif; /* Il font */
    font-size: 16px;
    width: 100%;               
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }